.productImage {
  max-width: 100%;
}

.productHeader {
  min-height: 100px;
  position: relative;
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}
