.productLabel {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #f4452d;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.75rem;
  text-transform: capitalize;
}
