.productPrice {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}
.productPriceLabel {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-right: 5px;
  font-weight: 400;
}
