.productCtaLink {
  display: block;
  text-align: center;
  font-family: Open Sans Bold, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  height: 3.5rem;
  line-height: 2.75rem;
  color: #3b4153;
  background-color: #fff;
  border: 6px solid #00fc35;
  box-sizing: border-box;
  min-width: 150px;
  padding: 0 1rem;
  text-decoration: none;
  transition-property: border-color, background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #00fc35;
  }
}
