.productBox {
  border: 1px solid #dfe0ec;
  margin: 0 10px 10px;
  @media (min-width: '1200px') {
    margin: 0 30px 30px;
  }
}

.productContent {
  margin: 0 20px 1rem;
}

.productTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}
.productDescription {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  min-height: 7em;
}
