//bootstrap
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/_mixins.scss';
@import 'bootstrap/scss/_reboot.scss';
//site specifics
// @import 'styles/modules/colors';
// @import 'styles/modules/typography';
body {
  font-family: Open Sans Regular, Helvetica, Arial, sans-serif; //$font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  color: #3b4153;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
